AZURE_AI_PROJECT_CONNECTION_STRING="your_foundry_project_connection_string"
AZURE_SUBSCRIPTION_ID="your_subscription_id"
AZURE_RESOURCE_GROUP="rg-curl-vision-trainer"
AZURE_ML_WORKSPACE_NAME="your_training_workspace_name_if_used"
